#root {
  max-width: 1280px;
  text-align: center;
}

/* MAIN CONTENT */
#container {
  display: grid;
  grid-template-columns: 250px auto; 
  
 
}



/* SIDEBAR */
#sideBar {
  border: 1px solid #dadada;
  font-size: 20px;
  box-shadow: 0 0 10px;
  height: 100vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  
}
#sideBarList ul{
  margin-top: 15px;
  padding: 0;
}
#sideBarList li{
  list-style-type: none;
  margin: 10px;
}


#content {

}
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
